<p style="color: green"><%= notice %></p>

 <%# <%= render @post  %>
 <span > <strong>Name:</strong> </span>
 <%= show_name(@post) %>
 <div>
  <%= link_to "Edit this post", edit_post_path(@post) %> 
  <br>
  <%= link_to "Back to posts", posts_path %>
  <br>
  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
